.main {
    /* display:grid;
    justify-content: center;
    
    margin: auto; */
    /* background-color: rgb(233, 166, 166); */
    background-color: #FEFCFF;
    width: 800px;
    display: flex;
    margin: auto;
    flex-direction: column;
    border: 7px solid #FEFCFF;
    /* border-top: 7px solid rgb(250, 236, 252); */
    margin-top: 20px;
    /* background-color: #fff; */
}

.topTracks__tracks {
  display: flex;
  flex-direction: row;
  /* margin: auto; */
  margin-left: 10px;
  margin-top: 13px;
}

.topTracks__cont {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.errorText {
  display: flex;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 27px;
}

.container {
  padding-top: 30px;
  padding-bottom: 25px;
}

.topTracksContainer__text {
  display: flex;
  margin-bottom: 20px;
  margin-top: -10px;
}

.topTracksContainer__text p {
  display: flex;
    margin: auto;
    text-transform: uppercase;
    font-weight: 800;
    color: #c5afcc;
}


.mySubs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: auto;
  max-width: 220px;
  background-color: #fff;
  margin-top: -117px;
  position: absolute;
}
.mySubsArtist {
width: 200px;
height: 30px;
padding-right: 10px;
padding-left: 10px;
}
.mySubsText {
  cursor: pointer;
  display: flex;
  text-transform: uppercase;
  font-weight: 800;
  color: #c5afcc;
  height: 40px;
    padding-top: 10px;
}
.mySubsList {
  display: none;
}